//// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//
//// Variables
//@import 'variables';
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';

/* CSS zeleznypoutnik.cz */

/*
    font-family: 'Gentium Basic', serif;
    font-family: 'Open Sans', sans-serif;
*/

html {

}

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;


}

@media screen and (min-width: 667px)
{
    body {
        min-width: 1015px;
    }
}

h1,h2,h3,h4,h5 {
    font-family: 'Gentium Basic', serif;
}

/* universal */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* responsivní obsah */

/* desktop */
.d-only {
    display: inherit;
}
.m-only {
    display: none;
}

/* malé obrazovky */
@media screen and (max-width: 667px)
{
    .d-only {
        display: none;
    }
    .m-only {
        display: block;
    }
}


/* page template */

.page-container {
    padding: 0;
    margin: 0;
}

/* záhlaví webu */
.header-container {
    height: 300px;
    width: auto;

    margin: 0;
    padding: 0;

    position: relative;

    background-image: url('../img/header_stripe2.png');
    background-size: cover;

    font-family: 'Gentium Basic', serif;
}

.header-title {
    display: inline-block;

    position: relative;
    top: 2.5rem;
    left: 4rem;
}

.header-title h1 {
    font-size: 5em;
    font-weight: normal;
    margin-bottom: 0.2em;

    color: #212020;
}

.header-title p {
    margin-top: 0;
    font-size: 1.69em;

    color: #f7f7f7;
    text-shadow: #000000 0 0 7px;
}

.header-navigation {
    height: auto;
    width: calc(100% - 2em);

    margin: 0;
    padding: 1em;

    position: absolute;
    bottom: 0;

    box-shadow: #0f0f0f 0 0 10px;

    background-color: rgba(0, 0, 0, 0.4);

}

.header-navigation .info {
    float: right;
    display: inline-block;

    width: auto;
}

.header-navigation .menu {

    display: inline-block;
}

.header-navigation a {
    color: rgba(255, 255, 255, 0.7);

    padding: 13px 10px;

    font-size: 1.5em;
    text-decoration: none;
}

.header-navigation .menu a:hover {
    color: #ffffff;
}

/* header responsivní */
@media screen and (max-width: 667px) {
    .header-container {
        height: auto;
        width: 100%;

        margin: 0;
        padding: 0;

        display: block;

        text-align: center;

        background-size: cover;
        background: url('../img/mobile_bg2.jpg') right;
    }

    .header-title {
        position: static;

        padding: 1em;
    }

    .header-title h1 {
        font-size: 35px;

        text-shadow: white 0 0 3px;
    }

    .header-title p {
        color: #262626;
        font-size: 17px;

        text-shadow: white 0 0 3px;
    }

    .header-navigation {
        height: auto;
        width: 100%;

        margin: 0;
        padding: 0;

        display: block;

        position: relative;
    }

    .header-navigation .info {
        /*border-bottom: rgba(0, 0, 0, 0.55) 1px solid;*/
        width: 100%;
        padding: 1em 0 1em;

        box-shadow: rgba(255, 255, 255, 0.31) 0 0 3px;
        background-color: rgba(255, 255, 255, 0.31);
    }

    .header-navigation .info a {
        color: #ffffff;
    }

    .header-container .menu {
        height: auto;

        margin: 1em 0;
        padding: 0;
    }

    .header-navigation .menu a {
        display: block;

        padding: 0.5em 0;
    }
}


/* korekce záhlaví (headerbar) */
@media screen and (max-width: 1059px)
{

}

/* obsah */
.container {
    min-height: 60vh;
    width: 100%;

    overflow: hidden;
}

.container a {
    color: #317fff;
}

.container a:hover {
    color: #3250b2;
}

.content {
    height: auto;
    width: calc(100% - 520px);

    float: left;

    padding: 2em 2em 2em 4em;

    font-size: 1.2em;

    /*border: #008eff 1px dashed;*/
}

.column {
    float: left;

    height: auto;
    width: 340px;

    /* border: red 1px dashed;*/

    padding: 5em 4em 1em 2em;
}

.content h1 {
    font-size: 2rem;

    margin-bottom: 0.2em;
}

.content .date-label {
    font-size: 0.8em;

    color: #0c8b45;

    padding-left: 1em;
}

.content .box {

}

.parallax-middle {
    height: 500px;
    width: 100%;

}

/* footer */

.footer-container {
    height: auto;
    width: 100%;

    overflow: hidden;

    background: none;

    box-shadow: #c8c8c8 0 0 10px;
}

.footer {
    height: auto;
    width: auto;

    padding: 1rem 4rem;

    font-family: 'Gentium Basic', serif;
    font-size: 1.5em;
    color: #000000;

    background-color: #f0f0f0;
}

.footer a {
    color: #317fff;
}

.footer a:hover {
    color: #3250b2;
}

@media screen and (max-width: 667px)
{
    .content {
        height: auto;
        width: calc(100% - 2em);

        padding: 0.7em 1em;
    }

    .column {
        height: auto;
        width: calc(100% - 2em);

        padding: 1em;
    }

    .content .box {
        border: 2px black solid;
    }

    .content .box ul {
        padding: 1em;
        margin: 0;
    }

    .footer {
        padding: 25px 1em 1em;
    }
}

.reklama {
    display: none;
}
